<div class="container" id="view2">
  <h1>Events</h1>
  <form>
      <input type="text" class="form-control" ng-model="search" placeholder="Search events">
      <br>
  </form>

  <div ng-repeat="event in vt.orgEvents|filter:search">
    <ul class="list-group">
      <li class="list-group-item">{{event.name}}</li>
      <li class="list-group-item">Location: {{event.address}}</li>
      <li class="list-group-item">{{event.description}}</li>
      <li class="list-group-item">{{event.date}}: {{event.time[0]}} to {{event.time[1]}}</li>
    </ul>
  </div>
</div>

