/* app css stylesheet */
body{
  background-color: #3d3329 !important;
  font-family: 'Raleway', sans-serif !important;
}
.nav{
  background-color: black;
}
.nav a{
  color: white;
}
.nav a:hover,
.nav a:active,
.nav a:focus{
  background-color: white !important;
  color:black;
  border-bottom: 1px solid black !important;

}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.jumbotron{
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: url('http://img08.deviantart.net/d2b0/i/2011/308/b/7/street_lights_by_iswish-d4f228e.jpg');
  background-position: 0px -100px;
  text-align: center;
  border-bottom: 1px solid black;
}
.jumbotron h1{
  font-size: 600% !important;
  font-family: 'Lobster', cursive;
}

.form-control{
  width:70% !important;
  margin: 0 auto;
}
.list-group{
  margin: 0 auto;
  width:50%;
}

#ng-map {
  height: 100%;
  display: block;
}

#view2{
  text-align:center;
}

#map-container {
  height: 600px;
  margin: 0 !important;
}

.right-side {
  float: right;

}

.map-icon {
    font-size: 20px;
    color: beige;
}

.addeventcontainer {
  margin: 2em;
}

.addorgcontainer {
  margin: 2em;
}