/* app css stylesheet */
body{
  background-color: #F7F4F1 !important;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.jumbotron{
  margin:0 !important;
  background-color: #F6F2F1 !important;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.jumbotron h1{
  font-family: 'David Libre', serif;
}

#ng-map {
  height: 100%;
  display: block;
}

#map-container {
  height: 600px;
  margin: 0 !important;
}
.right-side {
  float: right;
}