<div class="container">
  <button type="button" class="btn btn-default" ng-click="vc.open('lg')">Large modal</button>
  <button type="button" class="btn btn-default" ng-click="vc.addEvent('lg')">Add Event</button>
  <div class='row'>
    <div class='col-md-9 pull-left' id='map-container'>
      <map-wrapper mapname="map" set-org="vc.setSelectedOrg(orgName)" org-map="vc.orgMap"></map-wrapper>
    </div>
    <div class='col-md-3 pull-right'>
      <event-list org-name='vc.selectedOrgName' org-map="vc.orgMap"></event-list>
    </div>
  </div>
</div>